# add project binaries to path
PWD=$(pwd)
if [ -d "$PWD/build/bin" ]
then
  export PATH=$PWD/build/bin:$PATH
fi

export CODECEPT_DOMAIN=aerops.shop.de.192.168.1.251.nip.io
export CODECEPT_EMAIL=aw@portrino.de
export CODECEPT_DB_NAME=aerops_shop_de
export CODECEPT_DB_HOST=localhost
export CODECEPT_DB_USER=root
export CODECEPT_DB_PASSWORD=portrino
